In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
temperature = pd.read_csv("./csv-files/temp.csv", header=0)
temperature

    Temperature   City        Date
0            27  Delhi  10-10-2020
1            22  Delhi  11-10-2020
2            25  Delhi  12-10-2020
3            22  Delhi  13-10-2020
4            23  Delhi  14-10-2020
5            24  Delhi  15/10/2020
6            27  Delhi  16/10/2020
7            29  Delhi  17/10/2020
8            25  Delhi  18/10/2020
9            28  Delhi  19/10/2020
10           48  Delhi  20/10/2020

In [3]:
Q1 = temperature["Temperature"].quantile(0.25)
Q3 = temperature["Temperature"].quantile(0.75)

In [4]:
IQR = Q3 - Q1

In [5]:
upper_limit = Q3 + (1.5 * IQR)
lower_limit = Q1 - (1.5 * IQR)
upper_limit, lower_limit

(33.5, 17.5)

In [6]:
anomaly = temperature[
    (temperature["Temperature"] > upper_limit)
    | (temperature["Temperature"] < lower_limit)
]

anomaly

    Temperature   City        Date
10           48  Delhi  20/10/2020

In [7]:
# Using Standard deviation method for finding the outliers on the same dataset

upper_bound = temperature["Temperature"].mean() + (3 * temperature["Temperature"].std())
lower_bound = temperature["Temperature"].mean() - (3 * temperature["Temperature"].std())
upper_bound, lower_bound

(49.07556278473434, 5.469891760720209)

In [8]:
anomaly_std = temperature[
    (temperature["Temperature"] > upper_bound)
    | (temperature["Temperature"] < lower_bound)
]
anomaly_std

Empty DataFrame
Columns: [Temperature, City, Date]
Index: []